<ion-tabs>

  <ion-tab-bar color="danger" slot="bottom">
    <ion-tab-button tab="saisie">
      <ion-icon aria-hidden="true" name="calendar"></ion-icon>
      <ion-label>Saisie</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="configuration">
      <ion-icon aria-hidden="true" name="cog"></ion-icon>
      <ion-label>Configuration</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="alertes">
      <ion-icon aria-hidden="true" name="notifications"></ion-icon>
      <ion-label>Alertes</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
