<ion-header [translucent]="true">

  <ion-content [fullscreen]="true">
    <ion-toolbar color="danger">
      <ion-buttons slot="start">
        <ion-button>
          <ion-icon slot="icon-only" name="home"></ion-icon>
        </ion-button>
      </ion-buttons>
      <ion-title>CDS La Banque Postale</ion-title>
      <ion-title>Administration</ion-title>
      <ion-buttons slot="end">
        <ion-button>
          <ion-icon slot="icon-only" name="person-circle"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
     
  </ion-content>
  </ion-header>