<ion-header>
  <ion-toolbar color="danger">
    <ion-buttons slot="start">
      <ion-button>
        <ion-icon slot="icon-only" name="home"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>CDS La Banque Postale - Suivi des imputations</ion-title>
    <ion-buttons slot="end">
      <ion-button>
        <ion-icon slot="icon-only" name="person-circle"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- Semaine en cours à imputer -->
  <ion-title>Imputations du {{ formatDate(weekDates[0]) }} au {{ formatDate(weekDates[6]) }}
  <ion-button>Masquer/afficher le week-end</ion-button></ion-title>

  <div class="agenda-container">

    <!-- Colonne pour chaque jour de la semaine -->
    <div class="day-column" *ngFor="let date of weekDates; let i = index">

      <div class="day-header">{{ days[i] }}</div>
      <!-- Conteneur des blocs imputés -->
      <div class="blocks-container">

        <!-- <ion-select [(ngModel)]="selectedDay">
          <ion-select-option *ngFor="let day of days" [value]="day">{{ day }}</ion-select-option>
        </ion-select> -->

        <!-- Bloc tâche imputée-->
        <div class="block" *ngFor="let task of imputedTasks[formatDate(date)]"
             [ngClass]="{ 'imputed-block': true }"
             [ngStyle]="{ 'height': (task.blocks * 100) + '%' }">

          <!-- Nom tâche imputée -->
          <div class="block-label">{{ task.name }}</div>
        </div>
      </div>
    </div>
  </div>

  <!-- Liste des tâches -->
  <ion-title>Mes tâches</ion-title>
  <ion-list>
    <ion-item *ngFor="let task of tasks" (click)="addTask(task)">
      {{ task.name }}
      <ion-badge slot="end">{{ task.blocks }}/10</ion-badge>
    </ion-item>
  </ion-list>
</ion-content>
