ion-content {
  --ion-background-color: grey;
}

ion-list {
  --ion-background-color: white;
}

.agenda-container {
  display: flex;
  overflow-x: auto;
  background-color: #ccc;
}

.day-column {
  flex: 1;
  padding-top: 10px;
  border-right: 1px solid grey;
  text-align: center;
}

.day-header {
  font-weight: bold;
  margin-bottom: 10px;
}

.blocks-container {
  height: 300px;
  position: relative;
}

.block {
  width: 100%;
  height: auto;
  border: 1px solid black;
  padding: 20px;
  background-color: white;
}

.block-label {
  font-size: 10px;
  color: red;
  text-align: center;
}

.imputed-block {
  background-color: whitesmoke;
}
